/* You can add global styles to this file, and also import other style files */

body.theme-zen {
  background: #f4f4f4;
}

body.theme-glass {
  background: linear-gradient(to right, #dbeafe, #f0f9ff);
}

body.theme-neu {
  background: #e0e0e0;
}
