<div style="margin: 1rem;">
  <button (click)="switchTheme('theme-zen')">Minimal Zen</button>
  <button (click)="switchTheme('theme-glass')">Glassmorphism</button>
  <button (click)="switchTheme('theme-neu')">Neumorphism</button>
</div>

<core-ux-input placeholder="Test Theme Input"></core-ux-input>

<core-ux-input
  placeholder="Enter Name"
  [control]="nameControl"
  [icon]="'user'"
  [suffixIcon]="'check'"
  [type]="'text'"
  [required]="true"
  [dense]="true"
  [appearance]="'outline'"
  [hint]="'Your full name'"
  [errorMessage]="'Please enter a valid name'"
  [alphaOnly]="true"
  [minLength]="3"
  [maxLength]="20"
  [showWordCount]="true"
  [showLetterCount]="true"
  [showSpaceCount]="true"
></core-ux-input>
